<!DOCTYPE html>
<html lang="en" class="no-js">
{% set bootstrap_version = '2.3.1' %}
{% set modernizer_version = '2.6.2' %}
{% set jquery_version = '1.9.1' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}Flask on App Engine{% endblock %}</title>
    <link href="/static/css/bootstrap-{{ bootstrap_version }}.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <style> body { padding-top: 90px; } </style> <!-- Bootstrap -->
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    <script src="/static/js/lib/modernizr-{{ modernizer_version }}.min.js"></script>{# Modernizr must be here, above body tag. #}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>      
</head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   
    <script>new GMaps({
  div: '#map-canvas',
  lat: -12.043333,
  lng: -77.028333
});


    </script>
 
  </head>
  <body>
    <div id="panel">

<!--     <div class="top-header">top header bar with search and signin, signup links
    <ul class="floatLeft">

    </ul>

        </div> -->


        <input id="target" type="text" name="search" data-arrow="arrow-up" placeholder="Search Address to clean" class="top-search take-tour-tooltip" data-no="1" id="search" data-content="Search a place to clean" autocomplete="off">


      
      <ul class="footer">
    <li><a href="http://www.gleanindia.appspot.com/about">What is gleanindia?</a></li>
    <li><a href="http://www.gleanindia.appspot.com/help">FAQs</a></li>
    <li><a href="http://www.gleanindia.appspot.com/feedback">Feedback</a></li>
    <li><a href="http://www.gleanindia.appspot.com/terms">Terms</a></li>
    <li><a href="http://www.gleanindia.appspot.com/privacy">Privacy</a></li>
  </ul>
    </div>
    
    <div id="map-canvas"></div>
    <script src="/static/js/lib/gmaps.js"></script>
  </body>
</html>
